
{{! This is the post loop - each post will be output using this markup }}
{{#foreach posts}}

<a class="article-link" href="{{url}}">
    <div class="card">
        <div class="mdl-card on-the-road-again mdl-shadow--2dp">
            <div class="mdl-card__media mdl-color-text--grey-50"
                 style="background-image: url({{image}})">
                <h3>{{{title}}}</h3>
            </div>
            <div class="mdl-color-text--grey-600 mdl-card__supporting-text">{{excerpt words="26"}}...</div>
            {{! Everything inside the #author tags pulls data from the author }}
                {{#author}}
                <div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
                    <img src="{{image}}"/>
                    <div>
                        <strong>{{name}}</strong>
                {{/author}}
                        <span>{{date format="DD MMMM YYYY"}}</span>
                    </div>
                </div>
        </div>
    </div>
</a>
{{/foreach}}

{{! Previous/next page links - displayed on every page }}
{{pagination}}
